.button {
	height: 80px;
	width: 270px;
	background: linear-gradient(to top, #ffb501, #ffed26);
	box-shadow: 0 5px 20px rgba(255,181,1,0.5);
	border: 1px solid #ffc600;
	border-radius: 5px;
	font-family: "OpenSansCondensed";
	font-size: 20px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}