.pageup {
    display: none;
    padding: 5px;
    position: fixed;
    border: 5px solid #0d8fe3;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    transition: all .5s;
    &:hover {
    	background: #0d8fe3;
    	border: 5px solid #ffbf01;
    }
    img {
        width: 100%;
    }
}